.table-container
{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field{
    width: 100%;
  }
  .add-user-btn{
    padding: auto;
    margin-bottom: 20px;
  }
  .add-user-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
  }
}
