.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
.row{
  display: flex;
  gap: 10px;
  mat-form-field{
    width: 100%;
    padding: 10px;
  }
}
  div {
    margin-bottom: 15px; 
  }

  mat-form-field {
    width: 100%;
    max-width: 300px;
  }

  button.primary {
    margin-right: 10px;
  }
}
